
.header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-top: 10px;

  .logo {
    width: 100px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }

  .link {
    color: white;
    font-weight: 300;
    padding: 10px;
    text-align: right;
    text-decoration: none;
  }
}

.main-content {
  margin-top: 10%;
  text-align: center;
  .title1 {
    color: white;
    font-size: 25px;
    font-weight: 300;
    line-height: 2;
    padding: 40px 20px;
    border: 2px solid transparent;
  }
  .msg-box {
    align-items: center;
    border-radius: 3px;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 0 auto;
    max-width: 60%;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    span {
      color: white;
      font-size: 25px;
      font-weight: 300;
    }
  }

  .copy-text {
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }

  .white-btn {
    background: white;
    border-radius: 3px;
    border: 0;
    color: var(--main-bg-color);
    cursor: pointer;
    font-size: 22px;
    font-weight: 300;
    margin-top: 50px;
    min-width: 40%;
    outline: none;
    padding: 12px 20px;
    position: relative;
    transition: 0.17s all ease-in-out;
    z-index: 5;
    &:active {
      box-shadow: inset 0px 0px 2px 0px #787878;
    }
  }

  .link {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
  }
}


.footer {
  bottom: 10px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  .left-content {
    text-align: center;
    .hd1 {
      color: white;
      font-weight: 300;
      margin-bottom: 15px;
    }
    .foo-logo1 {
      margin-right: 10px;
    }
  }
  .right-content {
    @extend .left-content;
    .foo-social {
      width: 50px;
    }
  }
  .foo-logo,
  .foo-social {
    margin-right: 10px;
    cursor: pointer;
  }
  .gass {
    display: inline-block;
    position: relative;
  }
  .ga-logo:hover + .tooltip {
    display: block;
  }
  .tooltip {
    animation: slideUp 0.3s both;
    background: white;
    border-radius: 3px;
    bottom: 65px;
    display: none;
    font-size: 16px;
    font-weight: 300;
    left: -85px;
    padding: 10px 10px 30px 10px;
    position: absolute;
    transition: 0.2s all ease-in-out;
    width: 350px;
    z-index: 50;
    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 10px;
      margin-left: -20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .link.add-reason2 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .add-reason {
    display: none;
  }
  .header {
    justify-content: center;
  }
  .main-content {
    margin-top: 15%;
    .msg-box {
      max-width: 100%;
      display: flex;
      width: 85%;
      height: 80px;
      padding: 20px;
      span {
        font-size: 18px;
      }
    }
    .white-btn {
      font-size: 18px;
      margin-top: 30px;
    }
    .title1 {
      font-size: 20px;
    }
  }
  .footer {
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    width: 100%;
    left: 0;
    position: static;
    .left-content {
      .hd1 {
        font-size: 12px;
      }
    }
    .right-content {
      .foo-social {
        margin-right: 3px;
        width: 40px;
      }
    }
    .foo-logo {
      margin-right: 3px;
      width: 40px;
    }
    .tooltip {
      bottom: 55px;
      font-size: 13px;
      left: -10px;
      width: 250px;
      &:after {
        left: 32%;
      }
    }
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  } 100% {
    opacity: 1;
    transform: translateY(0);
  }
}


$color-violet: #492684;
$color-purple: #bea4ff;
$color-yellow: #feb535;
$color-red: #ff6e83;
$color-cyan: #58cafe;
$animation-duration: 1.2s;
$debug-animation-count: 1; // infinite | 1

.product-hunt {
  display: none;
}

@media screen and (max-width: 768px) {
  .product-hunt {
    background: rgb(218, 85, 47);
    color: white;
    cursor: pointer;
    font-size: 10px;
    font-weight: 200;
    padding: 5px 40px;
    position: fixed;
    right: 0;
    top: 0;
    transform: rotate(40deg) translateY(-10px) translateX(55px);
    text-decoration: none;
    display: block !important;
  }
}

.kitty {
  img {
    left: -80px;
    position: fixed;
    top: 40%;
    transform: rotate(100deg);
    transition: 0.2s all ease-in-out;
    width: 130px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    &:hover {
      transform: rotate(0deg);
      left: -5px;
    }
  }
  &:hover + .cannon {
    display: inline;
  }
}

/* Cannon */
.cannon {
  display: none;
	height: 70vh;
  width: 1px;
  left: 7px;
  top: -95px;
	position: absolute;
	transform-origin: 50% 100%;
  animation: cannon-explosion $animation-duration cubic-bezier(0.18, 0.89, 0.32, 1.28) both;
  // animation-delay: 0.1s;
	animation-iteration-count: $debug-animation-count;

	@keyframes cannon-explosion {
		0% {
			transform: scale(0);
		}
		80% {
      opacity: 1;
		}
		100% {
      opacity: 0;
		}
	}
	
	/* Paths */
	&__path {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		transform-origin: 50% 100%;
		padding-bottom: 30%;
		display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
		
		&--lg {
			height: 100%;
		}
		
		&--md {
			height: 95%;
		}
		
		&--sm {
			height: 90%;
		}
		
		&--angle {
			&-2 {
				transform: rotate(10deg);
			}
			
			&-1 {
				transform: rotate(25deg);
			}
			
			&0 {
				transform: rotate(40deg);
			}
			
			&1 {
				transform: rotate(55deg);
			}
			
			&2 {
				transform: rotate(70deg);
			}
		}
	}
	
	/* Confettis */
	&__confetti {
		flex: 0 1 auto;
		animation-duration: $animation-duration;
		animation-timing-function: ease-in-out;
		animation-fill-mode: both;
		animation-iteration-count: $debug-animation-count;
		
		&:nth-child(even) {
			animation-name: confetti-rotate-l;

			@keyframes confetti-rotate-l {
				0% {
					transform: rotate(0) scaleY(1);
				} 50% {
					transform: rotate(2turn) scaleY(1.5);
				} 100% {
					transform: rotate(2.1turn) scaleY(0.4);
				}
			}
		}

		&:nth-child(odd) {
			animation-name: confetti-rotate-r;

			@keyframes confetti-rotate-r {
				0% {
					transform: rotate(0) scaleY(1);
				} 50% {
					transform: rotate(-2turn) scaleY(1.5);
				} 100% {
					transform: rotate(-2.1turn) scaleY(0.4);
				}
			}
		}

		/* Types */
		&--ribbon {
			height: 1em;
			width: .4em;
			border-radius: .1em;
		}
		
		&--flake {
			height: .5em;
			width: .4em;
			border-radius: 50%;
		}
		
		/* Colors */
		&--color-1 {
			background-color: $color-yellow;
		}
		
		&--color-2 {
			background-color: $color-purple;
		}
		
		&--color-3 {
			background-color: $color-red;
		}
		
		&--color-4 {
			background-color: $color-cyan;
		}
	}
}