
.header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-top: 10px;

  .logo {
    width: 100px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }

  .link {
    color: white;
    font-weight: 300;
    padding: 10px;
    text-align: right;
    text-decoration: none;
  }
}

.main-content {
  margin-top: 10%;
  text-align: center;
  .title1 {
    color: white;
    font-size: 25px;
    font-weight: 300;
    line-height: 2;
    padding: 40px 20px;
    border: 2px solid transparent;
  }
  .msg-box {
    align-items: center;
    border-radius: 3px;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 0 auto;
    max-width: 60%;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    span {
      color: white;
      font-size: 25px;
      font-weight: 300;
    }
  }

  .copy-text {
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }

  .white-btn {
    background: white;
    padding: 12px 20px;
    font-size: 22px;
    color: var(--main-bg-color);
    font-weight: 300;
    margin-top: 50px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    min-width: 40%;
    border: 0;
    transition: 0.17s all ease-in-out;
    &:active {
      box-shadow: inset 0px 0px 2px 0px #787878;
    }
  }

  .link {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
  }
}


.footer {
  bottom: 10px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  .left-content {
    text-align: center;
    .hd1 {
      color: white;
      font-weight: 300;
      margin-bottom: 15px;
    }
    .foo-logo1 {
      margin-right: 10px;
    }
  }
  .right-content {
    @extend .left-content;
    .foo-social {
      width: 50px;
    }
  }
  .foo-logo,
  .foo-social {
    margin-right: 10px;
    cursor: pointer;
  }
  .gass {
    display: inline-block;
    position: relative;
  }
  .ga-logo:hover + .tooltip {
    display: block;
  }
  .tooltip {
    background: white;
    border-radius: 3px;
    bottom: 65px;
    font-size: 15px;
    font-weight: 300;
    left: -85px;
    padding: 10px 10px 30px 10px;
    position: absolute;
    width: 350px;
    display: none;
    transition: 0.2s all ease-in-out;
    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 10px;
      margin-left: -20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .link.add-reason2 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .add-reason {
    display: none;
  }
  .header {
    justify-content: center;
  }
  .main-content {
    margin-top: 15%;
    .msg-box {
      max-width: 100%;
      display: flex;
      width: 85%;
      height: 80px;
      padding: 20px;
      span {
        font-size: 18px;
      }
    }
    .white-btn {
      font-size: 18px;
      margin-top: 30px;
    }
    .title1 {
      font-size: 20px;
    }
  }
  .footer {
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    width: 100%;
    left: 0;
    position: static;
    .left-content {
      .hd1 {
        font-size: 12px;
      }
    }
    .right-content {
      .foo-social {
        margin-right: 3px;
        width: 40px;
      }
    }
    .foo-logo {
      margin-right: 3px;
      width: 40px;
    }
  }
}